@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #ECF2FA !important;
    color: #091841 !important; 
    font-family: 'Poppins', sans-serif !important;
    overflow-x: hidden;
    width: 100% !important;
}
::-webkit-scrollbar
{
	width: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
::-webkit-scrollbar-thumb
{
	border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}
.navbar{
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    width: 100%;
    background: #091841;
}
.navbar img{
    border-radius: 100%;
    margin-top: .5rem;
}
.hamburger .line{
    width: 50px;
    height: 5px;
    background-color: #f1f1f1;
    display: block;
    margin-top: 8px;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger:hover{
    cursor: pointer;
  }
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(5, 13, 87, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    left: 40%;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #6097E2;
    letter-spacing: 5px;
  }
  
  .overlay .nav-close-btn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
.solution-app{
    background: #091841;
    color: #ECF2FA;
    padding-top: 5rem;
}
.solution-app h1{
    margin-left: 35%;
    font-size: 56px;
    font-weight: 900;
}
.sol-content{
    margin-top: 5rem;
}
.solution-app .sol-btns-list{
    list-style-type: none;
    margin-left: 15rem;
}
 .solution-app .sol-btns-list .sol-btn{
    background: transparent;
    border: none;
    padding: 15px;
    margin-top: 15px;
    font-size: 24px;
    font-weight: 700;
    color: #ECF2FA;
    transition: all 0.2s ease;
}
.solution-app .sol-btns-list .sol-btn:hover{
    color: #6097E2;
    transform: translateY(-5px);
}
.solution-app .col-sm-6:nth-child(2){
    display: flex;
}
.solution-app .sol-para{
    transition: all 0.2s ease;
    animation: sol 0.5s ease;
    margin-top: 5rem;
}
.solution-app .col-sm-6 .sol-para:not(.active-para){
    display: none;
}
@keyframes sol {
    from{
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.feature-app{
    margin-top: 10rem;
    padding-bottom: 5rem;
}
.feature-app h2{
    font-size: 44px;
    font-weight: 700;
    margin-left: 10rem;
    margin-bottom: 10rem;
}
.feature-app .row{
    padding-left: 10rem;
    padding-right: 10rem;
}

.feature-app .col-sm-5{
    margin-bottom: 10rem;
    margin-right: 5rem;
    padding: 20px;
    border-radius: 20px;
    box-shadow:  20px 20px 60px #040a1a,
    -20px -20px 60px #0e2668;
}
.feature-app .col-sm-5 h1{
    font-size: 26px;
}
.footer-div{
    background-color: #1E40C8;
    color: #ECF2FA;
    padding-top:5rem;
    padding-bottom: 5rem;
}
.footer-div .row{
    margin-top: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
}
.footer-div .row .square1{
    width: 100px;
    height: 100px;
    background: url('/assets/logo-sq.jpg');
    background-size: cover;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 20px 20px 60px #1a36aa,
    -20px -20px 60px #234ae6;
}
.footer-div .row .footer-ul{
    margin-left: 22.5rem;
}
.footer-div .row .label-ul{
    list-style-type: none;
    font-weight: 600;
}
.footer-div .row .info-ul{
    list-style-type: none;
}
.footer-div .row .label-ul li, .footer-div .row .info-ul li{
    margin-bottom: 20px;
}