@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #ECF2FA !important;
    color: #091841 !important; 
    font-family: 'Poppins', sans-serif !important;
    width: 100%;
    overflow-x: hidden;
}
::-webkit-scrollbar
{
	width: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
::-webkit-scrollbar-thumb
{
	border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}
.navbar{
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    width: 100%;
    background: #091841;
}
.navbar img{
    border-radius: 100%;
    margin-top: .5rem;
}
.hamburger .line{
    width: 50px;
    height: 5px;
    background-color: #f1f1f1;
    display: block;
    margin-top: 8px;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger:hover{
    cursor: pointer;
  }
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(5, 13, 87, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    left: 40%;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #6097E2;
    letter-spacing: 5px;
  }
  
  .overlay .nav-close-btn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
.protection-div{
    margin-top: 5rem;
}
.solution-div{
    background: #091841;
    color: #ECF2FA;
    padding: 10px;
}
.solution-head{
    margin-top: 5rem;
    margin-left: 5rem;
}
.solution-div h1{

    font-size: 56px;
    font-weight: 800;
}
.solution-div b {
    margin-top: 1rem;
    color: #6097E2;
}
.solution-div hr{
    width: 25%;
    background-color: #ECF2FA;
    height: 5px;
}
.solution-content{
   padding-left: 5rem;
   padding-right: 5rem; 
   margin-top: 5rem;
}
.solution-content .col-sm-4{
    height: 40vh;
    margin-right: 10rem;
    margin-bottom: 5rem;
    border-radius: 20px;
    padding: 10px;
    box-shadow:  20px 20px 60px #081437,
    -20px -20px 60px #0a1c4b;
}
.solution-content .col-sm-4:nth-child(odd){
    margin-left: 5rem;
}
.solution-card{
    padding: 20px;
}
.solution-card i{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
}
.footer-div{
    background-color: #1E40C8;
    color: #ECF2FA;
    padding-top:5rem;
    padding-bottom: 5rem;
}
.footer-div .row{
    margin-top: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
}
.footer-div .row .square1{
    width: 100px;
    height: 100px;
    background: url('/assets/logo-sq.jpg');
    background-size: cover;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 20px 20px 60px #1a36aa,
    -20px -20px 60px #234ae6;
}
.footer-div .row .footer-ul{
    margin-left: 22.5rem;
}
.footer-div .row .label-ul{
    list-style-type: none;
    font-weight: 600;
}
.footer-div .row .info-ul{
    list-style-type: none;
}
.footer-div .row .label-ul li, .footer-div .row .info-ul li{
    margin-bottom: 20px;
}
.protection-div{
    margin-top: 5rem;
    margin-bottom: 20rem;
}
.protection-div h1{
    font-size: 56px;
    font-weight: 900;
    margin-left: 15rem;
}
.protection-div .protection-content p{
    margin-top: 2.5rem;
    margin-left: 45rem;
}
.protection-div .protection-content .image-card{
    width: 250px;
    height: 250px;
    margin-left: 15rem;
    border-radius: 20px;
    background:#ECF2FA;
    box-shadow: 9px 13px 19px 2px rgba(0,0,0,0.37);
    z-index: 2;
    padding-top:5px;
}
.protection-div .protection-content .image-card i{
    font-size: 44px;
    margin-left:6.5rem;
    margin-top: 1.5rem;
}   
.protection-div .protection-content .image-card h1{
    margin-left: 6.5rem;
    margin-top: 2.5rem;
    font-size: 34px;
    font-weight: 900;
    color:#1E40C8;
}
.protection-div .protection-content .image-card h4{
    font-size: 18px;
    margin-top: 1.5rem;
    font-weight: 900;
    text-align: center;
}
.protection-div .protection-content .imgcard-img{
    width: 50%;
    border-radius: 20px;
    height: 500;
    margin-top:-10rem;
    margin-left: 25rem;
    z-index: -1;
    width: 750px;
    height:450px;
    background : url("https://images.pexels.com/photos/2705755/pexels-photo-2705755.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" );
    background-size: cover;
    position: absolute;

}